body{
    border: 2px solid  rgb(0, 0, 0); 
}
h1{
    border-radius: 5%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 3px solid  rgb(0, 0, 0);
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}
h2{
    margin-left: 1%;

}
.recu{
    background-color: rgb(224, 224, 224);
    border: 2px solid  rgb(0, 0, 0); 
    border-radius: 1%;

}
.form-select{
    background-color: rgb(255, 196, 196);
    border: 3px solid  rgb(0, 0, 0); 
    margin-bottom: 1%;
    margin-left: 1%;

}
Footer{
    text-align: right;
}